# generated static pages
_book/
dist/

# the error file created by npm
npm-debug.log

# ignore uploading configuration
qrsync.json

# vim swap files
*.swp

# the node modules
node_modules/

# oh, stupid os x!
._*
.DS_Store
